.header-text {
    @apply pe-5 font-sans font-black text-3xl whitespace-nowrap;
}

.side-panel {
    @apply border-e-2 border-zinc-500 text-white hidden md:flex flex-col h-screen border-0 transition-all;

    background-color: #262729;
    min-width: 300px !important;
}

.main-panel {
    @apply flex flex-col w-full h-screen text-white;
    background-color: #202123;

}

.note-item {
    @apply rounded-md p-4 mx-1 font-bold my-1 text-left text-ellipsis whitespace-nowrap overflow-hidden;
    background-color: #393b3f;
    min-height: 60px;
}